<%- include('partials/header'); -%>

<header>
    <div class="diarylist">
        <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
        <h2>Diary List</h2>
        <h3>Write your thoughts</h3>
        <a href="/diarylist" class="btn">View Diary</a>
    </div>
</header>

<%- include('partials/footer'); -%>